#video_console.candrag
  .drag_bar
    Videoconsole

  .content    
    .feedback
      here be the list

    .input_wrapper
      .time
        00:00:00
      %input.command_line{:value=>"Type a command"}

= javascript_include_tag 'nabu_editor/shared/console'
= stylesheet_link_tag  'nabu_editor/shared/console'
