.right_menu
  .settings_container    
    #butt-up.btn.glyphicon.glyphicon-triangle-top.btn-material-white
    #butt-down.btn.glyphicon.glyphicon-triangle-bottom.btn-material-white
    %ul.nav.nav-tabs.btn-material-white.pull-right
      %li.dropdown
        %span.glyphicon.glyphicon-cog{'aria' => '', 'hidden' => 'true'}
        %a.btn-material-white.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown", :target => "#"}}
        %ul.dropdown-menu
          %li
            %a{:href => "javascript:$('#acount_editor_dialog').modal()", :target=>'_top'}
              %span.glyphicon.glyphicon-user
              &nbsp;Account
          %li.small
            %a{"data-method"=>"delete", :href=>"/users/sign_out", :rel=>"nofollow", :title => current_user.email }
              %span.glyphicon.glyphicon-off.small 
              &nbsp;Uitloggen

          %hr
          
          %li.dropdown-header.small                    
            versienummer
            .code
              4.01.4

          %li.small
            %a.small{:href => "https://github.com/Sense-Studios/nabu_editor/tree/master", :target=>'_blank'}
              %span.glyphicon.glyphicon-new-window  
              &nbsp;Marduq op Github

          %li.small
            %a.small{:href => "/admin/dashboard", :target=>'_top'}
              Manager
    #load_indicator.glyphicon.glyphicon-refresh.pull-right
   
  
    %select#aspect_dropdown.form-control.input-sm.dropdown_select.dropdown_select_ratio
      %option{:value=>'4:3'} 4:3
      %option{:value=>'3:2'} 3:2      
      %option{:value=>'16:9', :selected=>'selected'} 16:9
      %option{:value=>'17:9'} 17:9
      %option{:value=>'21:9'} 21:9      
    
  .helpers
    .bubble.upload_helper{:style => "top: 20%"}
      %p Upload of kies hier je video. Wachten hoeft niet! Je kunt meteen verder met de titel, tags enzovoort.
      %p.readed
        
    .bubble.describe_helper{:style => "top: 20%"}
      %p Geef je video info mee, zodat iedereen weet waar hij over gaat. Hoe duidelijker, hoe meer clicks!
      %p.readed
        
    .bubble.publish_helper{:style => "top: 47%"}
      %p Deze video delen? Kopieer de link of  klik op een 'social' knop. Met embed zet je de video op je eigen site. 
      %p.readed
          
  = render partial: 'nabu_editor/admin/marqers'
  = render partial: 'nabu_editor/admin/channels_right_menu'
  :javascript
    $(".dropdown_select_ratio").dropdown({
      "dropdownClass": "my-dropdown"
    });
  
  
