.right_menu
  .settings_container
    #butt-up.btn.glyphicon.glyphicon-triangle-top.btn-material-white
    #butt-down.btn.glyphicon.glyphicon-triangle-bottom.btn-material-white
    #butt-down.btn.glyphicon.glyphicon-cog.btn-material-white.pull-right
    
    
  .helpers
    .bubble.upload_helper{:style => "top: 20%"}
      %p Upload of kies hier je video. Wachten hoeft niet! Je kunt meteen verder met de titel, tags enzovoort.
      %p.readed
        
    .bubble.describe_helper{:style => "top: 20%"}
      %p Geef je video info mee, zodat iedereen weet waar hij over gaat. Hoe duidelijker, hoe meer clicks!
      %p.readed
        
    .bubble.publish_helper{:style => "top: 47%"}
      %p Deze video delen? Kopieer de link of  klik op een 'social' knop. Met embed zet je de video op je eigen site. 
      %p.readed
        
        
  = render partial: 'nabu_editor/admin/marqers'
  = render partial: 'nabu_editor/admin/channels_right_menu'
