.right_menu
  .settings_container
  .helpers
    .bubble.upload_helper{:style => "top: 20%"}
      %p Upload of kies hier je video. Wachten hoeft niet! Je kunt meteen verder met de titel,tags enzovoort.
      %p.readed
        Gelezen?
        
    .bubble.describe_helper{:style => "top: 20%"}
      %p Geef je video info mee, zodat iedereen weet waar hij over gaat. Hoe duidelijker, hoe meer kliks!
      %p.readed
        Gelezen?
        
    .bubble.publish_helper{:style => "top: 47%"}
      %p Kopieer hier de link van de video om deze te kunnen delen of druk op 1 van de social buttons
      %p.readed
        Gelezen?
        
        
  = render partial: 'nabu_editor/admin/marqers'
    
