#tracker
  .content_wrapper
    
    .current_mark
  
    .track_line
      .time
        00:00:00
        %small .500
      .cell
      .cell
      .cell
      
    
    %table
      %tr
        %td
          00:00:00
          %small .500
        %td
        %td
        %td
        
        -# for duration in seconds * 2 create tr  