<div id="editor_dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <div class="modal-body" style="height:86vh">
        <iframe src="" width="100%" height="100%" frameborder="0"></iframe>

      </div>

      <!--
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-material-burgundy" onclick="deleteChannel()" id='channel_delete_button' > Verwijder </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-material-burgundy" onclick="updateChannel()" id='channel_save_button' > Opslaan </button>
        </div>
      </div>
      -->

    </div>
  </div>
</div>
<style>
  #dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
</style>

<script>
  function open_editor_dialog( _url, _title ) {
    $('#editor_dialog .modal-title').html( _title );
    $('#editor_dialog iframe').attr( 'src', _url );
    $('#editor_dialog').modal()
  }
</script>
