#nabu_controls
  #scrubbar.progress
    .bar.progressbar
    .progress-bar.playhead.primary-background-color.bar{"role"=>"progressbar", "aria-valuenow"=>"60", "aria-valuemin"=>"0", "aria-valuemax"=>"100"}
    .marqers.bar
  
  .btn-group.mute-time-group
    #butt-togglemute.btn.glyphicon.glyphicon-volume-off.btn-material-burgundy
    .videotime.btn
      #time.label.label-default
        %span.current_time
  
  .btn-group.play-seek-group
    #butt-seekbwd.btn.glyphicon.glyphicon-fast-backward.btn-material-burgundy
    #butt-playpause.btn.glyphicon.glyphicon-play-circle.btn-material-burgundy
    #butt-seekfwd.btn.glyphicon.glyphicon-fast-forward.btn-material-burgundy
  
  .btn-group.collapse-fullscreen-group
    #butt-up.btn.glyphicon.glyphicon-triangle-top.btn-material-burgundy
    #butt-down.btn.glyphicon.glyphicon-triangle-bottom.btn-material-burgundy
    #butt-togglefullscreen.btn.glyphicon.glyphicon-resize-full.btn-material-burgundy
