#marqer_stratum_modal.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Edit Marqer Stratum
        %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"} ×

      .modal-body
        .form-group.form-group-sm.has-feedback
          .col-sm-12

            From Type
            %br

            Label
            %br

            %label.control-label Title
            %input.form-control.input-sm{:placeholder => t('channel_editor.title'), "data-key" => "title", :type => "text", :value => ""}

            %label.control-label Author
            %input.form-control.input-sm{:placeholder => t('channel_editor.title'), "data-key" => "title", :type => "text", :value => ""}

            %label.control-label Description
            %textarea.form-control.input-sm{"data-key" => "title", :type => "text", :value => ""}
              = t('channel_editor.title')

            %label.control-label Tags
            %input.form-control.input-sm{"data-key" => "title", :type => "text", :value => ""}
              = t('channel_editor.title')

            %label.control-label Share
            %input.form-control.input-sm{"data-key" => "title", :type => "text", :value => ""}
              = t('channel_editor.title')

            %button
              Request Global

            .clear

      .modal-footer
        .btn-group
          %button#create_channel.btn.btn-material-burgundy{:onclick => "createChannel()"}
            = t('channel_editor.save')

:css
  #dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
