.marqers_container
  %h3
    Kies marqer
  .marqers
    .marqer_search
      %i.glyphicon.glyphicon-search.search_marqer_icon{"aria-hidden"=> 'true'}
      %input{"type"=>"text","placeholder"=>"Zoek"}
    .btn.marqer_category.transition
      %button.btn.btn-material-burgundy.marqer_category_title
        %span.glyphicon.glyphicon-triangle-right.glyphicon-rotate
        %span.category_title
          Category titel
      .plugin.btn.btn-material-white.marqer_item
        %span.marqer_item_title
          Marqer 1 titel
      .plugin.btn.btn-material-white.marqer_item
        %span.marqer_item_title
          Marqer 2 titel
      .plugin.btn.btn-material-white.marqer_item
        %span.marqer_item_title
          Marqer 3 titel
      .plugin.btn.btn-material-white.marqer_item
        %span.marqer_item_title
          Marqer 4 titel

  %button.btn.btn-material-pink.publish_button_marqers
    Bewaar
    %span.glyphicon.glyphicon-chevron-right
