.marqers_container
  %h3
    Kies marqer
  .marqers
    .marqer_search
      %i.glyphicon.glyphicon-search.search_marqer_icon{"aria-hidden"=> 'true'}
      %input{"type"=>"text","placeholder"=>"Zoek","id"=>"zoek_marqer"}
    
    .marqers_holder
      / attach your marqers here!

  
  /%button.btn.btn-material-pink.publish_button_marqers#save_marqers
  /  Bewaar
  /  %span.glyphicon.glyphicon-chevron-right

/ custom javascripts
= javascript_include_tag "nabu_editor/editor/marqer_definitions.js"
= javascript_include_tag "nabu_editor/editor/rightmenu.js"