.marqers_container
  %h3
    =t 'marqers.choose_marqer'
  .marqers
    .marqer_search
      %i.glyphicon.glyphicon-search.search_marqer_icon{"aria-hidden"=> 'true'}
      %input{"type"=>"text","placeholder"=> t('marqers.search'),"id"=>"zoek_marqer"}

    .marqers_holder
      / attach your marqers here!


  %h3
    =t 'marqers.choose_prefab'
  .marqers
    .marqer_search
      %i.glyphicon.glyphicon-search.search_marqer_icon{"aria-hidden"=> 'true'}
      %input{ "type"=>"text", "placeholder" => t('marqers.search'), "id"=>"zoek_marqer_stramien" }

    .marqers_stratum_holder
      / attach your marqer stratum here!

/ custom javascripts
= javascript_include_tag "nabu_editor/editor/marqer_definitions.js"
= javascript_include_tag "nabu_editor/editor/rightmenu.js"
