<div id="marqer_editor_dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Dialog</h4>
      </div>


      <div class="modal-body">        
      </div>
      
      <hr/>

      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-material-red" id='modal_delete_button' data-dismiss="modal"> Delete </button>
          <button class="btn btn-material-pink" id='modal_save_button' data-dismiss="modal"> Save </button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
</style>