#marqer_stratum_modal.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Edit Marqer Prefab
        %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"} ×

      .modal-body
        .form-group.form-group-sm.has-feedback
          .row
            .col-sm-3
              From Type
            .col-sm-9
              %em No Type

          .row
            .col-sm-3
              Label
            .col-sm-9
              %em No label

          .row
            .col-sm-3
              %label.control-label Title
            .col-sm-9
              %input.form-control.input-sm{:placeholder => t('channel_editor.title'), "data-key" => "title", :type => "text", :value => ""}

          .row
            .col-sm-3
              %label.control-label Author
            .col-sm-9
              %input.form-control.input-sm{:placeholder => t('channel_editor.title'), "data-key" => "title", :type => "text", :value => ""}

          .row
            .col-sm-3
              %label.control-label Description
            .col-sm-9
              %textarea.form-control.input-sm{"data-key" => "title", :type => "text", :value => ""}
                [ Tik hier wat in ]

          .row
            .col-sm-3
              %label.control-label Tags
            .col-sm-9
              %input.form-control.input-sm{:placeholder =>"Tags", "data-key" => "title", :type => "text", :value => ""}
                = t('channel_editor.title')

          .row
            .col-sm-3
              %label.control-label Share
            .col-sm-9
              %input.form-control.input-sm{"data-key" => "title", :type => "text", :value => ""}
                = t('channel_editor.title')

          .row
            .col-sm-3
              %button
                Request Global
            .col-sm-9
              [ some explanation ]

      .modal-footer
        .btn-group
          %button#create_channel.btn.btn-material-burgundy{:onclick => "createChannel()"}
            = t('channel_editor.save')

:css
  #dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
