#marqer_stratum_modal.modal.fade{:tabindex => "1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Edit Marqer Prefab
        %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"} ×

      .modal-body.tokenscreen
        .form-group.form-group-sm.has-feedback
          .row
            .col-sm-3
              %label.control-label Token
            .col-sm-9
              %textarea.form-control.input-sm.given-token{:rows => '3', :placeholder => '0000000000000000000000000000000000000000000000000000000000000000', "data-key" => "title", :type => "text", :value => ""}

          %br
          %hr

          .row
            .col-sm-12
              %button#submit_token.btn.btn-material-burgundy.pull-right{:onclick => "postToken()"}
                Submit token

      .modal-body.update_token
        .form-group.form-group-sm.has-feedback
          .row
            .col-sm-3
              %label.control-label type
              %br
              %br
              %label.control-label Name

            .col-sm-9
              %h4
                .stratum_type No Type

              %input.form-control.input-sm.stratum_name{:placeholder => 'name', "data-key" => "title", :type => "text", :value => ""}
              %h3
                .noninput.stratum_name No Name

          %hr

          .row
            .col-sm-3
              %label.control-label Author
            .col-sm-9
              %input.form-control.input-sm.author{:placeholder => 'author', "data-key" => "title", :type => "text", :value => ""}
              .noninput.author{:placeholder => 'author', "data-key" => "title", :type => "text", :value => ""}

          %br

          .row
            .col-sm-3
              %label.control-label Description
            .col-sm-9
              %textarea.form-control.input-sm.description{"data-description" => "description", :type => "text", :value => "", :placeholder => " Describe your Prefab ...", :rows => 5 }
              .noninput.description{"data-description" => "description", :type => "text", :value => "", :placeholder => " Describe your Prefab ...", :rows => 5 }

          .tokeninteraction
            %hr

            .row
              .col-sm-3
                %label.control-label Token
              .col-sm-9
                %pre.token{"data-token" => "Token", :type => "text", :value => "", :style=>'white-space: pre-wrap;'}
                %button.btn.btn-info.refreshtoken{:onclick => "refreshToken()"}
                  %i.glyphicon.glyphicon-refresh
                  &nbsp;&nbsp get new token

            .row
              .col-sm-3
                %label.control-label Shares
              .col-sm-9
                %h4.shares 0

          %br
          %hr

          .row
            .col-sm-12
              %button#update_stramien.btn.btn-material-burgundy.pull-right{:onclick => "updateStramien()"}
                = t('channel_editor.save')

      .modal-footer
        %hr

:css
  #dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
