#publish_menu_container.menu_editor{:style=>'display:none'}
  #publish_menu_container_overlay
    %button#hide_menu_container_overlay.btn.btn-material-burgundy
      Bewerk site
  =# render 'form'
  
  .row
    .col-md-5.menu_all_videos
      .filter
        %input.form-control{:id=>"available_program_search", :type=>"text", :placeholder=>"Zoek"}
        %i.glyphicon.glyphicon-search.search_video_menu_icon{"aria-hidden"=> 'true'}
        
      %hr
      
      %ul#all_available.menu-editor.drop    
        - @programs.each do |p|          
          %li.new-item.ui-state-default.available_program_item{:id=>p['id']}
            = image_tag p['thumbnail'], :class=>'pull-left menu_video_image', :height=>'32px' unless p['thumbnail'].nil?
            .program_container
              %p.program_title= p['title'][0..40].gsub(/\s\w+$/,'...') unless p['title'].nil?
              
    .col-md-7.menu_all_categories
      %button#create_category_button.btn.btn-material-burgundy
        Maak categorie
      %button#save_menu_button.btn.btn-material-pink
        Bewaar
  
      %ul#le_menu.categories
        .clear
  
  
  
  /= link_to 'Show', @menu 
  /= link_to 'Back', menus_path

  
:javascript
  var menudata = {}

= javascript_include_tag "nabu_editor/edit_menu"
