.zoomContainer
  #timeLineContainer
    
    / temp fix
    /:css
    /  .btn-sm { padding: 8px 12px; }
    /= render 'shared/admin/administration_controls'
    
    %canvas.timeline_canvas{:style=>"top:10px"}
    #scrubber
    
    #tracks.ui-droppable.btn-material-white
      #trackline4.trackline.ui-droppable.btn-material-grey-200
      #trackline4.trackline.ui-droppable.btn-material-grey-200
      #trackline4.trackline.ui-droppable.btn-material-grey-200
      #trackline4.trackline.ui-droppable.btn-material-grey-200
      #trackline4.trackline.ui-droppable.btn-material-grey-200
      #trackline4.trackline.ui-droppable.btn-material-grey-200
    
    .add_track_area

/ testing
.tracklineOptionsContainer
  // TODO: use this: http://refreshless.com/nouislider/  
  %input#zoom{:type=>"range", :name=>"zoom", :min=>"1", :max=>"42", :value=>"1", :width=>'200px', :step=>'1', "style"=>"display:inline" }    
  
  %span{"style"=>"display:inline"} Zoom

  .form-group{"style"=>"display:inline"}
    .checkbox.checkbox-material-pink{"style"=>"display:inline"}
      %label 
        %input{"type"=>"checkbox", "value"=>"follow_scrubbar", "name"=>"follow_scrubbar", "id"=>"follow_scrubbar" }

  %span{"style"=>"display:inline"} Schuif mee

  #refresh_marqers.pull-right.btn-sm
    Ververs
    %span.glyphicon.glyphicon-refresh
    
  #remove_all_marqers.pull-right.btn-sm
    Verwijder alles
    %span.glyphicon.glyphicon-trash
  
/ Custom javascripts
= javascript_include_tag "nabu_editor/editor/marqers.js"
= javascript_include_tag "nabu_editor/editor/marqer_ui_renderer.js" 
= javascript_include_tag "nabu_editor/editor/user_interface.js"  
= javascript_include_tag "nabu_editor/editor/main.js" 