#timeLineContainer
  
  / temp fix
  /:css
  /  .btn-sm { padding: 8px 12px; }
  /= render 'shared/admin/administration_controls'
  
  %canvas.timeline_canvas{:style=>"top:10px"}
  #scrubber
  
  #tracks.ui-droppable.btn-material-white
    #trackline4.trackline.ui-droppable.btn-material-grey-200
    #trackline4.trackline.ui-droppable.btn-material-grey-200
    #trackline4.trackline.ui-droppable.btn-material-grey-200
    #trackline4.trackline.ui-droppable.btn-material-grey-200
    #trackline4.trackline.ui-droppable.btn-material-grey-200
    #trackline4.trackline.ui-droppable.btn-material-grey-200

/ Custom javascripts
= javascript_include_tag "nabu_editor/editor/marqers.js"
= javascript_include_tag "nabu_editor/editor/marqer_ui_renderer.js" 
= javascript_include_tag "nabu_editor/editor/user_interface.js"  
= javascript_include_tag "nabu_editor/editor/main.js" 