<style>
    
#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

#tracks { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#tracks li { height:20px; }                

.handle {   display: inline-block; top:0; height:20px; width:20px; background-color: blue; }
.content_bar { display: inline-block; top:0; height:20px; width:20px; background-color: yellow; }
.trackline { width:100%; background-color: red; }

/*
#tracks li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 40px; }
#tracks li span { position: absolute; margin-left: -1.3em; }
*/

#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }

.trackeventcontainer { pointer-events:none;position:relative; width:100%; height:0%; background-color:pink; }

.trackevent { display: inline-block; pointer-events:all;width: 20%; padding: 0; height:20px !important; background-color:green; }
.trackevent h3 { text-align: center; margin: 0; }

</style>
        
<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();

    var vtop = 0
    var vleft = ''
    $( "#tracks" ).sortable({
      axis: "y",
      start: function() {
      },
      end: function() {
      }
    });
    $( "#tracks" ).disableSelection();

    //$( ".handle" ).draggable({
    //  containment: "parent",
      //grid: [ 20, 10 ],
      //handles: "e, w"            
    //  axis: "x"
    //})

    $( ".trackevent" ).resizable({
      handles: 'e,w',
      containment: "parent"
    });

    $( ".trackevent" ).draggable({
      axis: "x",
      containment: "parent"
    })
    
    $(".plugin").draggable({
      helper: 'clone'
    })
    $(".trackline").droppable({
      drop: function( event, ui ) {
        console.log("DROP!")
        $( this ).addClass( "ui-state-highlight" )
      }
    });

    // $( ".trackevent" ).toggle({}) // select

    $( "#resizable" ).resizable().draggable();
    
    $( "#draggable" ).draggable();
    $( "#droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
          .addClass( "ui-state-highlight" )
          .find( "p" )
            .html( "Dropped!" );
      }
    });
  });
</script>


<h1>This is trhe header </h1>

<p>
Test, test...
</p>

<hr/>

<div class='well'>
  <div class="plugin"> plugin </div>
  <div class="plugin"> plugin </div>
</div>


<div class='well'>  
      
  <ul id="tracks">
    <li class="ui-state-default trackline"> 
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
      </div>
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
      </div>    
    </li>
    
    <li class="ui-state-default trackline"> 
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
        <div class="trackevent">               
        </div>
      </div>
      
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
      </div>          
    </li>
    
    <li class="ui-state-default trackline">      
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
      </div>          
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
      </div>          
    </li>
  
    <li class="ui-state-default trackline">
      <div class="trackeventcontainer">
        <div class="trackevent">               
        </div>
      </div>                      
    </li>
    
    <li class="ui-state-default trackline">
      
      <div class="handle handle_left"></div>
        <div class="content_bar"> </div>
      <div class="handle handle_right"></div>
      
    </li>          
  </ul> <!--- end tracks -->
</div> <!-- end well -->



<!-- 
<div class="demo resizable">
  
<div id="resizable" class="ui-widget-content">
  <h3 class="ui-widget-header">Resizable</h3>
</div>

</div>

<div class="demo draggable droppable">
  
<div id="draggable" class="ui-widget-content">
  <p>Drag me to my target</p>
</div>

<div id="droppable" class="ui-widget-header">
  <p>Drop here</p>
</div>

</div>
-->
      
          