#video_console {
  
  height: 320px;
  width: 420px;
  position: absolute;
  z-index: 9001;
  background-color: #333333;
  color: white;
  
  .drag_bar {
    height: 32px;
    width: 100%;
    background-color: #666666;
  }
  
  .content {
    width: 100%;
    height: 288px;
    background-color: #111111;    
    
    .feedback {
      height: 262px;
    }

    .input_wrapper {
      .time {        
        display: inline-block;
        width: 42px;
      }

      .command_line {        
        width: 352px;
        float: right;
      }
    }
  }
}
