// these have been moved to marqers.css.scss in the main application
// nabu/app/assets/stylesheets/marqers.css.scss

/*
.marqer {
  top: 0;
  left: 0;
  position:absolute;
  //-webkit-transition-duration: 0.8s;
  //-moz-transition-duration: 0.8s;
  //-o-transition-duration: 0.8s;
  //transition-duration: 0.8s;    
}
*/








