<div class="form-group form-group-sm">
  <label class="col-sm-12 control-label">
    {{label}}
  </label>
  
  <div class="col-sm-12">
    <div id="{{key}}_editor" class="editor">{{element.value}}</div>
  </div>
  
  <div class="clear"></div>
</div>