<div class="form-group form-group-sm">
  <label class="col-sm-2 control-label">
    {{label}}
  </label>
  <div class="col-sm-10">
    <div class="input-group input-group-sm">
      <input 
        class="form-control 
        input-sm" 
        data-key="{{key}}" 
        id="{{key}}_field" 
        value="{{element.value}}"         
        type="range" 
      />
      <span class="input-group-addon">%</span>
    </div>
  </div>
</div>
