<div class="form-group form-group-sm">
  <div class="col-sm-12">
    <select class="form-control input-sm dropdown_select" data-key="{{key}}" id="{{key}}_field" >
    {{#each element.options }}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>    
  </div>
  <div class="clear"></div>
</div>
