<div class="form-group form-group-sm">
  <div class="col-sm-12">
    <input 
      class="form-control input-sm" 
      data-key="{{key}}" 
      id="{{key}}_field" 
      value="{{element.value}}" 
      placeholder="{{element.placeholder}}" 
      type="text" 
    />
  </div>
  <div class="clear"></div>
</div>
