<div class="form-group form-group-sm">
  <label class="col-sm-2 control-label">
    {{label}}
  </label>
  <div class="col-sm-10">
    <textarea 
      class="form-control 
      input-sm" 
      data-key="{{key}}" 
      id="{{key}}_field" 
      placeholder="Type here..." 
      type="text" 
    >{{element.value}}</textarea>
  </div>
</div>
