<!DOCTYPE html>
<html>
<head>
  <title>NabuEditor</title>
  <%= stylesheet_link_tag    "nabu_editor/application", :media => "all" %>
  <%= javascript_include_tag "nabu_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

Dit is de application layout<br>
<%= yield %>

</body>
</html>
